/* ****primary command start**** */
* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.head_primary {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 80px;
}

.btn_primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 43px;
}

.btn_primary:hover {
    background: #008080;
    color: #313131;
    border-radius: 12px 0 12px 0;
}

/* ****primary command end**** */


/* ****banner start**** */
header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner_text {
    max-width: 800px;
}

.ban_head {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.ban_detail {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 19px;
    padding-bottom: 25px;
}

.banner_image {
    margin-top: 50px;   
   
    
}

.img_one {
    height: 800px;
    display: block;
    
}

/* ****banner end**** */


/* ****feature start**** */
.feature_container {
    max-width: 650px;
}

.feature_detail {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}

.feature_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
}

.first {
    width: 375px;
    height: 435px;
    display: block;
}

.second {
    width: 375px;
    height: 435px;
}

.third {
    width: 375px;
    height: 435px;
}

.image_one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.image_two {

    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.image_three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
figcaption{
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
/* ****feature end**** */


/* ****support start**** */
.support{
    padding: 70px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 130px 350px;
}
.support_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.support_text{
    text-align: center;
}

.support_description{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
}
/* ****support end**** */


/* ****sales start**** */
.sales{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 108px;
    padding:80px 0 ;
    
}
.sales_container{
    display: flex;
    align-items: center;
    padding: 0 160px;
}
.s_title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.s_color{
    color:#E55473;
}
.s_detail{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 650px;
    padding-bottom: 20px;
    padding-top: 10px;
}
/* ****sales end**** */


/* ****instagram start**** */
.instagram{
 margin-bottom: 100px;
}
.insta_head{
    text-align: center;
}
.insta_detail{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    max-width: 650px;
}
.insta_image{
    display: flex;
    align-items: center;
    padding: 0 220px;
}
/* ****instagram end**** */